.avatarButton {
  background: none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.avatarMenu {
  background: var(--color-gray-dark);
  border-radius: 4px;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 20%);
  padding: 1rem 2rem;
  position: absolute;
  right: 1rem;
  top: 4rem;
}
