.avatarButton {
  background: none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.avatarMenu {
  background: var(--color-gray-dark);
  width: 14rem;
  height: 10rem;
  position: absolute;
  right: 1rem;
  top: 4rem;
}
