.settingHeadingContainer {
  margin: 1rem 0;
}

.settingLabel {
  color: var(--color-gray);
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray);
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
  border-radius: 34px;
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3px;
  background-color: var(--color-white);
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
  border-radius: 50%;
}

input:checked + .toggleSlider {
  background-color: var(--color-accent);
}

input:focus + .toggleSlider {
  box-shadow: 0 0 1px var(--color-accent);
}

input:checked + .toggleSlider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.rangeSliderContainer {
  position: relative;
  width: 20rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-gray-dark);
  border-radius: 4px;
}

.rangeSliderContainer::before,
.rangeSliderContainer::after {
  position: absolute;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}
.rangeSliderContainer::before {
  content: attr(data-min);
  left: 1rem;
}
.rangeSliderContainer::after {
  content: attr(data-max);
  right: 1rem;
}

/*  */

.rangeSlider[type="range"] {
  -webkit-appearance: none;
  height: 7px;
  background: var(--color-gray);
  border-radius: 5px;
  background-image: linear-gradient(var(--color-accent), var(--color-accent));
  background-repeat: no-repeat;
  width: 80%;
}

.rangeSlider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--color-accent);
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

.rangeSlider[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.rangeSlider[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: var(--color-accent-dark-transparent) 0px 0px 0px 8px;
}

.rangeSlider[type="range"]::-webkit-slider-thumb:active {
  box-shadow: var(--color-accent-dark-transparent) 0px 0px 0px 11px;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
