.board {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  width: 44rem;
  margin-top: 1rem;
}

.mistake {
  color: var(--color-red);
}

.active {
  animation: cursor-blink 600ms infinite steps(1);
}

@keyframes cursor-blink {
  0% {
    background: var(--color-white);
    color: var(--color-black);
  }
  50% {
    background: none;
    color: inherit;
  }
}
