:root {
  /* --color-accent: #4bf2b3; */
  --color-accent: #40e8e5;
  --color-black: #08070a;
  --color-gray-darker: #141418;
  --color-dark-gray: #23232e;
  --color-gray-medium: #898989;
  --color-gray: #b6b6b6;
  --color-light-gray: #ececec;
  --color-white: #f6f6f6;

  --transition-speed: 300ms;
}
